<nav class="sticky-top py-1" style="background-color: rgba(0, 0, 0, .85);">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" style="color: azure;">Molina Marco</a>
    <a class="py-2 d-none d-md-inline-block" style="color: azure;">Aguilera Luis</a>
  </div>
</nav>


<h1>Esta primera pagina se la dedico a Pedro Salazar</h1>
<h1>Gracias por tenerme tanta paciencia, amigo</h1>

<h1>Debo leer la documentación</h1>
<h1>Debo leer la documentación</h1>
<h1>Debo leer la documentación</h1>
<h1>Debo leer la documentación</h1>
<h1>Debo leer la documentación</h1>