<nav class="sticky-top py-1" style="background-color: #ffffff; position: static;">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <img src="assets/UNAM.png" class="rounded float-left img-fluid" alt="Responsive image">
    <img src="assets/FI.png" class="rounded float-right img-fluid" alt="Responsive image">
    <!--
      <img src="/assets/FI.png" class="rounded float-right img-fluid" alt="Responsive image">
      poner la diagonal al momento de generar un deploy, no encuentra la ruta
    -->
  </div>

</nav>


<div class="card text-white bg-danger mb-3" style="width: 100%;">
  <small>
    <div class="card-header">
      <p><em>Asignatura: <p><strong>REDES DE DATOS SEGURAS</strong></p></em></p>
    </div>
    <div class="card-body">
      <p><em>Profesora: <p><strong>M.C. Cintia Quezada Reyes</strong></p></em></p>
      <p><em>Alumnos:
          <p><strong>Aguilera Palacios Luis Ernesto</strong></p>
          <p><strong>Molina Medina Marco Antonio</strong></p>
        </em></p>
    </div>
  </small>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          A) Sumarización de rutas
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          B) Subneteo
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>