<nav class="sticky-top py-1" style="background-color: #ffffff; position: static;">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <img src="assets/UNAM.png" class="rounded float-left img-fluid" alt="Responsive image">
    <img src="assets/FI.png" class="rounded float-right img-fluid" alt="Responsive image">
    <!--
      <img src="/assets/FI.png" class="rounded float-right img-fluid" alt="Responsive image">
      poner la diagonal al momento de generar un deploy, no encuentra la ruta
    -->
  </div>

</nav>


<div class="card text-white bg-danger" style="width: 100%;">
  <small>
    <div class="card-header row mr-0">
      <div class="col-4">
        <p><em>Asignatura: <p><strong>REDES DE DATOS SEGURAS</strong></p></em></p>
      </div>
      <div class="col-4">
        <p><em>Profesora: <p><strong>M.C. Cintia Quezada Reyes</strong></p></em></p>
      </div>
      <div class="col-4">
        <p><em>Grupo: <p><strong>01</strong></p></em></p>
      </div>
    </div>
    <div class="card-body row mr-0">
      <div class="col-6">
        <p><em>Alumnos:
            <p><strong>Aguilera Palacios Luis Ernesto</strong></p>
            <p><strong>Molina Medina Marco Antonio</strong></p>
          </em></p>
      </div>
      <div class="col-6">
        <p><em>Tema: <p><strong>RDS PROYECTO</strong></p></em></p>
      </div>
    </div>
  </small>
</div>

<ul class="nav nav-pills row card border-primary mr-0" id="pills-tab" role="tablist" style="flex-direction: row;">
  <li class="nav-item col-6 p-0">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
      aria-controls="pills-home" aria-selected="true">
      A) Sumarización de rutas
    </a>
  </li>
  <li class="nav-item col-6 p-0">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
      aria-controls="pills-profile" aria-selected="false">
      B) Subneteo
    </a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <h1>
      A) Sumarización de rutas
    </h1>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <h1>
      B) Subneteo
    </h1>
  </div>
</div>